* {
  font-family: 'Poppins','Helvetica Neue', 'Times New Roman';
  background-color: #0d1015;
  color: rgb(237, 234, 234);

}
body{
  /* padding: 30px; */
  background-color: #0d1015;
}
.mainContainer{
  /* background-color: #101010; */
  overflow: hidden;
  padding: 0;
  transition: 0.05 ease-out;
}
.show {
  padding: 0;
  transition: 0.05 ease-out;
  
}
a{
  text-decoration: none;
}
#navigationBar{
  padding: 0vmin 30vmin;
  /* width: 65vw; */
  margin: 0 auto;
}

#navigationBar  h1{
  padding: 2vmin 2vmin 2vmin 1.2vmin;
  margin: 0 auto;
  font-size: 2.9vmin;
  font-family: 'Cinzel Decorative', serif;
  
}
#navbarTitleBlack{
  color: #29323d;
}
#navbarTitleWhite{
  color: rgb(211, 211, 211);
}


.titles{
  font-family: 'Playfair Display', serif;
  overflow: hidden;
  font-weight: 600;
  font-size: 5vmin;
  padding: 5vmin 0 2vmin 0;
  color: #b8b8b8;
  text-align: center;
}

.cityColor{
  background-color: rgb(9, 56, 133);
  padding: 0.5vmin 4vmin 0.5vmin 3.5vmin;
  border-radius: 10px;
  color: rgb(235, 235, 235);
  font-weight: 500;
  font-size: 2.4vmin;
}

.quickLinks, .quickLinksWhite{
  font-weight: 300;
}



#introContainer{
  overflow: hidden;
  padding-bottom: 2vmin;
  padding: 13vmin 21vmin;
}
#name{
  font-size: 9vmin;
  color: rgb(221, 219, 219);
}
#introText {
  font-size: 14vmin;
  text-align: left;
  color: rgb(240, 240, 240);
  font-weight: 600;
  padding-top: 7vmin;
}
.introSub{
  font-size: 2.5vmin;
  text-align: left;
  color: rgb(147, 147, 147);
  font-weight: 300;
  padding: 0.5vmin 0;
}
.SubText{
  color: rgba(156, 156, 156, 0.781);
  font-weight: 300;
  font-size:1.7vmin;
  padding-top: 2vmin;
  text-align: left;
}
.scrollDown{
  color: rgba(97, 97, 97, 0.781);
  font-weight: 200;
  font-size: 2vmin;
  padding-top: 3vmin;
}
.colorize{
  color: rgb(202, 49, 49);
}
#projectsSection {
  /* background-color: rgba(226, 234, 242, 0.397); */
  padding: 0vmin 32vmin;
  padding-bottom: 10vmin;
}

.projectCards {
  margin-bottom: 3vmin; 
  box-shadow: rgba(193, 193, 193, 0.08) 0px 4px 12px; 
  height: 41vmin;
  overflow: hidden;
  padding: 1vmin;
  border-radius: 5px;
  width: 97%;
}


.projectCards:hover{
  border: solid 3px #2884c5;
  
}

.cardImage {
  height: 100%;
  border-radius: 5px;
}

.zoom {
  transition: transform 0.2s;
  z-index: 1;
}

.zoom:hover {
  transform: scale(1.05);
}

#footerContainer { 
  padding-top: 7vmin;

  border-top: solid 1px #242424;
  text-align: center;
  overflow: hidden;
  
}

.socialLogo {
  max-width: 6vmin;
  
}



#headerText {
  margin-top: 1rem;
  margin-bottom: 4rem;
  color: #575757;
  font-weight: 500;
}

.project {
  align-items: center;
  justify-content: center;
  
}

.icon{
  width: 8vmin;
  margin-top: 2vmin;
  margin-right: 3vmin;
}

/* #hamburger{
  border: none;
  
} */

#aboutMeContainer{
  padding: 13vmin 21vmin;
  border-bottom: solid 1px #242424;
  align-items: center;
  justify-content: center;
  text-align: left;
  overflow: hidden;
  /* background-color: #0d1623; */
}
#aboutMeContainer p{
  font-size: 2.1vmin;
  color:#b8b8b8;
  width: 80%;
}
#customAbt1{
  font-size: 2.9vmin;
  color: #37a153;
  font-weight: 500;
}
#customAbt2{
  font-size: 2.9vmin;
  color: #3d6ba6;
  font-weight: 500;
}
#aboutImg{
  border-radius: 1%;
  width: 100%;
}



#educationContainer{
  padding: 0vmin 20vmin;
  padding-bottom: 10vmin;
  overflow: hidden;
  margin: 0 auto;
  border-bottom: solid 1px #222222;
  text-align: left;
}
.individualEducationContainer{
 padding: 5vmin;
}
.educationLogo{
  width: 90%;
  padding: 4vmin; 
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  background-color: rgb(76, 83, 93);
  border-radius: 3px;
}
.uniName{
  font-size: 3.5vmin;
  color:#acacac; 
  font-weight:600;
}
.degreeName{
  font-size: 2.5vmin;
  color: #5d6063;
  font-weight: 500;
}
.degreeCGPA{
  font-size: 2vmin;
  color: #a7a7a7;
}

.individualExperienceContainer{
  padding: 4vmin 0vmin 6vmin 0vmin;
  text-align: left;
}

.companyLogo {
  width: 93%; 
  padding: 2vmin;
  margin-bottom: 2vmin;
  /* background-color: white; */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  background-color: rgb(25, 31, 41);
}

#contiCard{
  padding: 0.5vmin;
}

.companyTitle{
  font-size: 3.5vmin;
  color: rgb(192, 192, 193);
  font-weight: 600;
  width: 93%;
}
.role{
  padding-bottom: 1.5vmin;
  font-size: 2vmin;
  width: 93%;
}

.roleTasks{
  font-size: 2.3vmin;
  font-weight: 300;
  text-align: left;
  width: 93%;
}

.roleTasks p{
  color: rgb(199, 199, 199);
}

.roleTasks hr{
  width: 10%;
  margin: 1.5vmin 0;
}
.pubTitle{
  font-weight: 500;
  color: #829c87;
  font-size: 2.7vmin;
  width: 80%;
  text-align: left;
  font-family: 'Playfair Display', serif;

}
#experienceDivider{
  width: 85%;
  margin: 0 auto;
  padding: 1px;
  color: rgb(62, 62, 62);
  margin-top: 1.5vmin;
  margin-bottom: 4.5vmin;
}

.centering{
  align-items: center;
  justify-content: center;
  text-align: center;
}

#experienceContainer{
  padding: 0vmin 20vmin 10vmin 20vmin;
  color: #212529;
  /* background-color: rgba(226, 234, 242, 0.397); */
  border-bottom: solid 1px #242424;
  overflow: hidden;
}

.progress{
  width: 93%;
  margin: 0.5vmin 2vmin 4vmin 2vmin;
  text-align: center;
  float: left;
}

#skillsContainer{
  /* background-color: #ffffff; */
  overflow: hidden;
  display: flex;
  padding: 0vmin 20vmin 10vmin 20vmin;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px #242424;
}
.skillImg{
  width: 13vmin;
  height: 13vmin;
  overflow: hidden;
  border-radius: 4px;
  margin: 2vmin;
  float: left;
  padding: 5px;
  box-shadow: rgba(221, 220, 220, 0.18) 0px 3px 8px;
  text-align: center;
  border: solid 1px rgb(53, 53, 53);
}


.indivSkill{
    
    /* border: solid 1px black; */
    margin: 2vmin;
}

#customCard{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: white;
  padding: 0.5vw;
}


#email{
  color: #E1A87A; 
  font-weight: 300;
  text-decoration: underline;
  font-size: 3vmin;
}

#footerText{
  font-weight: 300;
  font-size: 3vmin;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 4.5vmin;
}
.navLink{
  color: #c5c5c5;
  text-align: center;
  font-size: 1.5vmin;
  font-weight: 300;
  margin: 0 1.2vmin auto;
}
.navLink h6{
  padding: 5px 20px;
  border-radius: 20px;
}
.navLink h6:hover{
  background-color: #15aa55;
  font-weight: 700;
  transition: 0.1s ease-in-out;
}

#aboutInfo{
  width: 100%;
}

#hamburger{
  border: none;
}
#responsive-navbar-nav{
  margin-top: 0.5vmin;
  
}
#pubLink{
  background-color: #1ab051e4;
  color: rgb(235, 235, 235);
  padding: 0.5vmin 2vmin;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.5vmin;
}

@media (max-width: 959px){
  
  /* *{
    width: 100%;
  } */
  #aboutMeContainer p{
    width: 100%;
    padding: 0;
   
  }
  #experienceContainer, #skillsContainer, #aboutMeContainer, #projectsSection, #introContainer{
    width: 100%;
    padding: 0vmin 10vmin;
  }
  #educationContainer{
    padding: 0vmin 6vmin 4vmin 6vmin;
  }

  #experienceDivider{
    width: 100%;
  }
  .companyLogo, .educationLogo{
    width: 100%;
  }

  .roleTasks{
    text-align: left;
  }
  #aboutMeContainer{
    margin-top: 6vmin;
    text-align: justify;
  }
  .individualEducationContainer{
    padding: 2.7vmin 5vmin;
  }
  
  #projectsSection, #skillsContainer, #aboutMeContainer, #educationContainer, #experienceContainer{
    padding-bottom: 10vmin;
  }
  
}

@media (max-width: 1399px){
  #navigationBar{
    padding: 0;
    width: 65vw;
  }
  .navLink h6{
    padding: 2vh 0;
    font-size: 3.5vmin;
    font-weight: 500;
  }
}
@media (max-width: 1027px){
  #navigationBar{
    padding: 0;
    width: 90vw;
  }
  .navLink h6{
    padding: 2vh 0;
    font-size: 3.5vmin;
    font-weight: 500;
  }
}

@media(max-width: 800px){
  #pubLink{
    border-radius: 3px;
  }
  #name{
    font-size: 15vmin;
  }
}



/* @media (max-width: 854px) {
  .customCard{
    margin-left: 4.5vw;
  }
}
@media (max-width: 666px) {
  .customCard{
    margin-left: 12.5vw;
  }
}
@media (max-width: 436px) {
  .customCard{
    margin-left: 9.5vw;
  }
}
@media (max-width: 390px) {
  .customCard{
    margin-left: 7.5vw;
  }
}
@media (max-width: 347px) {
  .customCard{
    margin-left: 4.5vw;
  }
}
@media (max-width: 297px) {
  .customCard{
    margin-left: 2.5vw;
  }
}
@media (max-width: 290px) {
  .customCard{
    margin-left: -3vw;
  }
} */
