* {
  font-family: 'Poppins','Helvetica Neue', 'Times New Roman';
}
.mainContainer{
  background-color: #101010;
  
  padding: 0;
  transition: 0.05 ease-out;
}
.show {
  padding: 0;
  transition: 0.05 ease-out;
  
}
a{
  text-decoration: none;
}


#websiteLogo{
 max-width: 30vmin;
}

.titles{
  font-weight: 600;
  font-size: 7vmin;
  font-variant: small-caps;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  
}

.cityColor{
  color: #e6d02f;
}

.quickLinks, .quickLinksWhite{
  background-color: #101010;
  align-items: center;
  padding-left: 4vmin;
  text-align: center;
  font-weight: 300;
}

.quickLinksWhite {
  background-color: #ffffff; 
}
.quickLinksWhite a, .quickLinks a {
  color: #707070;
  margin-right: 2rem;
}
.quickLinks a:hover{ 
  color: #dfdede;
  font-weight: 400;
}
.quickLinksWhite a:hover {
  color: #222222;
  font-weight: 400;
}


#introContainer{
  
  padding-bottom: 2vmin;
}

#introText {
  font-size: 8vmin;
  text-align: center;
  color: rgb(240, 240, 240);
  font-weight: 600;
}
.introSub{
  font-size: 4vmin;
  text-align: center;
  color: rgb(240, 240, 240);
  font-weight: 600;
}
.SubText{
  
  color: rgba(242, 237, 234, 0.781);
  font-weight: 300;
  font-size: 2vmin;
  padding-top: 3vmin;
}
.scrollDown{
  color: rgba(97, 97, 97, 0.781);
  font-weight: 200;
  font-size: 2vmin;
  padding-top: 3vmin;
}
.colorize{
  color: rgb(202, 49, 49);
}
#projectsSection {
  
  background-color: white;
  
  padding: 20vmin;
  padding-top: 4vmin;
  
  text-align: center;
  font-size: 7vmin;
  font-weight: 600;
  font-variant: small-caps;
}

.projectCards {
  margin-bottom: 4vmin; 

  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  height: 41vmin;
  overflow: hidden;
  width: 95%;
  
}


.cardImage {
  height: 100%;
}

.zoom {
  transition: transform 0.2s;
  z-index: 1;
}

.zoom:hover {
  transform: scale(1.05);
}

#footerContainer { 
  padding-top: 7vmin;

  border-top: #e6e6e6 solid 1px;
  text-align: center;
  
}

.socialLogo {
  max-width: 6vmin;
  
}



#headerText {
  margin-top: 1rem;
  margin-bottom: 4rem;
  color: #575757;
  font-weight: 500;
}

.project {
  align-items: center;
  justify-content: center;
  
}
#designContainer {
  margin-bottom: 7vmin;
}
#codingContainer {
  padding-bottom: 10vmin;
  
}
#websiteContainer {
  padding: 6vmin 0vmin 6vmin 0vmin;
}

.icon{
  width: 8vmin;
  margin-top: 2vmin;
  margin-right: 3vmin;
}

#hamburger{
  border: none;
  
}
.down{
  background: linear-gradient(360deg, #ffffff 50%, #253875 50%);
}
.left{
  background: linear-gradient(270deg, #ffffff 50%, #253875 50%);
}
#aboutMeContainer{
  padding: 13vmin 0 11vmin 0;
  border-bottom: solid 1px #253875;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#aboutMeContainer p{
  font-size: 2.4vmin;
  margin: 2.5% 10% 5% 10%;
  color:#4f5359;
}
#customAbt1{
  font-size: 2.9vmin;
  color: #37a153;
  font-weight: 500;
}
#customAbt2{
  font-size: 2.9vmin;
  color: #3d6ba6;
  font-weight: 500;
}
#aboutImg{
  border-radius: 1%;
  width: 100%;
  padding: 1vw;
}

#CardTop{
  background-color: #5a8fdd;
}

#educationContainer{
  padding-bottom: 6vh;
}
.individualEducationContainer{
  padding-bottom: 4vmin;
  padding-top: 3vmin;
}
.educationLogo{
  width: 80%;
  padding: 4vmin; 
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.uniName{
  font-size: 3.5vmin;
  color:#353638; 
  font-weight:600;
}
.degreeName{
  font-size: 2.5vmin;
  color: #5d6063;
  font-weight: 500;
}
.degreeCGPA{
  font-size: 2vmin;
}

.individualExperienceContainer{
  padding: 4vmin 0vmin 6vmin 0vmin;
}

.companyLogo {
  width: 80%; 
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 0vmin 2vmin 5vmin 2vmin;
  margin-bottom: 2vmin;
  background-color: white;
}

#contiCard{
  padding: 0.5vmin;
}

.companyTitle{
  font-size: 3.5vmin;
  color: #353638;
  font-weight: 600;
}
.role{
  padding-bottom: 1.5vmin;
  font-size: 2vmin;
}

.roleTasks{
  font-size: 2.2vmin;
  color: #5d6063;
  font-weight: 500;
  width: 80%;
  margin: 0 auto;
}

.roleTasks hr{
  width: 20%;
  margin: 0 auto;
  margin-top: 1.5vmin;
  margin-bottom: 1.5vmin;
}

#experienceDivider{
  width: 75%;
  margin: 0 auto;
  padding: 1.5px;
  color: rgb(107, 107, 108);
  margin-top: 2vh;
  margin-bottom: 4.5vh;

}

.centering{
  align-items: center;
  justify-content: center;
  text-align: center;
}

#experienceContainer{
  padding: 2vmin 0vmin 5vmin 0vmin;
  color: #212529;
  background-color: #f5f6f6;
}



#skillsContainer{
  background-color: #1b1b1b;
}

#skillsTitle{
  font-size: 7vmin;
  font-weight: 600;
  font-variant: small-caps;
  margin-bottom: 6vmin;
  margin-top: 2vmin;
  color: #ffcc01;
  
  
}
.customCard{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: #151616;
  color: #ffffff;
  width: 8rem;
  padding: 0.5rem;
  margin-bottom: 4vmin;
  
}

.customCardImg{
  height: 5.7rem;
}

#email{
  color: #E1A87A; 
  font-weight: 300;
  text-decoration: underline;
  font-size: 3vmin;
}

#footerText{
  font-weight: 500;
  font-size: 3vmin;
  font-family: 'Times New Roman', Times, serif;
}
#copyright{
  margin-top: 3vmin;
  font-size: 2.5vmin;
}

@media (max-width: 854px) {
  .customCard{
    margin-left: 4.5vw;
  }
}
@media (max-width: 666px) {
  .customCard{
    margin-left: 12.5vw;
  }
}
@media (max-width: 436px) {
  .customCard{
    margin-left: 9.5vw;
  }
}
@media (max-width: 390px) {
  .customCard{
    margin-left: 7.5vw;
  }
}
@media (max-width: 347px) {
  .customCard{
    margin-left: 4.5vw;
  }
}
@media (max-width: 297px) {
  .customCard{
    margin-left: 2.5vw;
  }
}
@media (max-width: 290px) {
  .customCard{
    margin-left: -3vw;
  }
}
